{% extends "base.html" %}

{% block content %}

<div class="feedback-confirmation-section">
    <h1>Thank You for Your Feedback!</h1>
    
    <p>We've successfully received your feedback. Your insights and experiences are invaluable to us as we strive to improve our platform. Thank you for taking the time to share your thoughts.</p>
    
    <p>If you've provided an email address, and if a response is required, we will get back to you as soon as possible.</p>
    
    <a href="/" class="return-home-button">Return to Home</a>
</div>

{% endblock %}